ANTHROPIC_API_KEY=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
OPENAI_API_KEY=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
TAVILY_API_KEY=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